/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.nav-img{
    margin-left: 1rem;
    margin-right: 1rem;
}
.anoButton{
    justify-content: center;
}
.title{
    justify-content: center;
    font-weight: bold;
    color:#0000FF;
    font-size: 1.3rem;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2F4F4F;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2F4F4F;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.recipe{/*ESTILO GASTOS*/
	width: 100%;
	height: 5em;
	background-color: #FF0000;
	padding-left: 1em;
	line-height:5em;
	color:#FFF;
	font-size: 1.2em;
	font-weight: bold;
}
.sales{/*ESTILO VENDAS*/
	width: 100%;
	height: 5em;
	background-color: #0000FF;
	padding-left: 1em;
	line-height:5em;
	color:#FFF;
	font-size: 1.2em;
	font-weight: bold;
}
.sale a{
    display: block;
}
.liquid{/*ESTILO LIQUIDO DE GASTOS E VENDAS*/
	width: 100%;
	height: 5em;
	background-color: #006400;
	padding-left: 1em;
	line-height:5em;
	color:#FFF;
	font-size: 1.2em;
	font-weight: bold;
}
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.userName{/*NOME DO USUARIO*/
	margin-left: 1em;
	padding-top: 1em;
	color:#FFF;
}

/*FIM DO MENU LATERAL*/
.reports{/*GERADOR DE RELATORIOS*/
	width: 100%;
	display: flex;
	flex:1;
}
.sale img{/*IMAGEM GERA RELATORIO DE VENDA*/
	width: 10em;
	height: 10em;
	margin-top: 4em;
	margin-left: -15em;
	margin-right: 2em;
}
.sale-span{
	font-weight: bold;
	margin-top: 15em;
	margin-left: -15em;
}
.spending img{
	width: 10em;
	height: 10em;
	margin-top: 4em;
	margin-left: 4em;
}
.spending-span{
	font-weight: bold;
	margin-top: 15em;
	margin-left: -9em;
}

.support-footer{/*ESTILO RODAPE SUPORTE*/
	width: 100%;
	margin-top: 1em;
}
.video{
	width: 100%;
	height: auto;
}
.what{
	text-align: center;
	background-color: #006400;
	color:#FFF;
}
.email{
	text-align: center;
	background-color: #0000FF;
	color:#FFF;
	font-size: 0.8rem;
}
.site{
	text-align: center;
	background-color: #006400;
	color:#FFF;
}
.site a{
	color:#FFF;
}

.instruc{
	border:0.1em solid #CCC;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media screen and (min-width: 375px) and (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
@media screen and (max-width: 375px) (min-width: 320px) {
	.reports{
		width: 100%;
		margin-left: 1em;
	}
	.sale img {
	    width: 7em;
	    height: 6em;
	    margin-top: 9em;
	    margin-left: -15em;
	    margin-right: 2em;
}
	.sale-span{
		font-weight: bold;
		margin-top: 20em;
		margin-left: -15m;
	}
	.spending img{
		width: 5em;
		height: 5em;
		margin-top: 14em;
		margin-left: 3em;
		margin-right: 12em;
	}
	.spending-span{
		font-weight: bold;
	    margin-top: 20em;
	    margin-left: -17em;
	}

@media screen and (max-width: 320px) {
	.reports{
		width: 100%;
		margin-left: 1em;
	}
	.sale img{/*IMAGEM GERA RELATORIO DE VENDA*/
		width: 5em;
		height: 5em;
		margin-top: 14em;
		margin-left: -15em;
	}
	.sale-span{
		font-weight: bold;
		margin-top: 20em;
		margin-left: -15m;
	}
	.spending img{
		width: 5em;
		height: 5em;
		margin-top: 14em;
		margin-left: 3em;
		margin-right: 12em;
	}
	.spending-span{
		font-weight: bold;
	    margin-top: 20em;
	    margin-left: -17em;
	}
}
